<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/form.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style media="screen">
  </style>
</head>
<body>
  <div class="wrapper">
    
  	<div class="registration_form">
		<div>
			<h1 align="center"> Password Hashing Using Salt</h1>
		</div><br><br>
			  <div class="title">
  			Login 
  		</div>

  		<form action = "http://127.0.0.1:5000/login" method="post">
			<div class="form_wrap">
  				<div class="input_wrap">
  					<label for="city">Username</label>
  					<input type="text" id="uname" name="username">
  				</div>
                <div class="input_wrap">
  					<label for="email">Password</label>
  					<input type="password" id="password" name="password">
  				</div>
  				<div class="input_wrap">
  					<input type="submit" value="Submit" class="submit_btn">
  				</div>
				{{ msg }}

  			</div>
			  <br><br>
			  <div class="title">
				 <a href="http://127.0.0.1:5000/login"> Login here</a>
			</div>
  		</form>
  	</div>
  </div>
</body>
</html>
